/* -- START BODY -- */
	body {
		margin: 0px;
		background: #838b8b url(../images/bg-main-grey.jpg) top center no-repeat fixed;
		font-family: Helvetica, sans-serif; 
		font-size: 18px; 
		line-height: 24px;
		}
/* -- END BODY -- */

/* Progress bar */
	progress {
	  /* Positioning */
	  position: fixed;
	  left: 0;
	  top: 0;
	  z-index: 9999;
	  /* Dimensions */
	  width: 100%;
	  height: 5px;

	  /* Reset the appearance */
	  -webkit-appearance: none;
		 -moz-appearance: none;
			  appearance: none;

	  /* Get rid of the default border in Firefox/Opera. */
	  border: none;

	  /* Progress bar container for Firefox/IE10+ */
	  background-color: transparent;

	  /* Progress bar value for IE10+ */
	  color: #c92027;
	}
	progress::-webkit-progress-bar {
	  background-color: transparent;
	}

	progress::-webkit-progress-value {
	  background-color: #c92027;
	}

	progress::-moz-progress-bar {
	  background-color: #c92027;
	}

/* -- START NAVIGATION -- */
	#nav2 {
		line-height:20px;
		background-color:#303030;
		height:270px;
		width:185px;
		float:left;
		padding:10px;
		padding-left: 20px;
		position:fixed;
		border-radius: 0.5em 3em 3em 0.5em;
		margin-left: 15px;
		margin-bottom: 15px;
		margin-top: 135px;
		z-index: 10;
		top: 0px;
		}
	#nav2 h2 {
		color:#fdb815;
		}
	#nav2 h3 {
		color:#fdb815;
		padding: 0px;
		padding-bottom: 2px;
		}
	#nav2 hr {
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #C92027, rgba(0,0,0,0));
		background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), #C92027, rgba(0,0,0,0));
		background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), #C92027, rgba(0,0,0,0));
		background-image:      -o-linear-gradient(left, rgba(0,0,0,0), #C92027, rgba(0,0,0,0));
		}
	#nav2 hr.hrfull {
		width: 200px;
		}
	#nav2 a:active, 
	#nav2 a:visited, 
	#nav2 a:link {
		 transition: color .2s ease-in;
		 transition-property: color;
		 transition-duration: 0.2s; 
		 transition-timing-function: ease-in;
		 transition-delay: initial;
		 color: #ccc;
		 text-decoration:none;
		}
	#nav2 a:hover {
		 color: #FDB815;
		}
        #legend {
		 margin: 0px;
                 background-color: #aaa;
                 padding-left: 5px;
		 padding: 10px;
                 align: left;
                 width: 175px;
                 border-radius: 5px;
                position:fixed;
                border-radius: 0.5em 3em 3em 0.5em;
                margin-left: 15px;
                margin-bottom: 15px;
                margin-top: 335px;
                z-index: 10;
                top: 100px;
                }

  /* -- START VERT NAV DROP MENU -- */
	.js-css-menu {
	  display: inline-block;
		}
	.js-css-menu, .js-css-menu ul, .js-css-menu li {
	  list-style: none; padding: 0; margin: 0;
		}
	.js-css-menu a {
	  text-decoration: none;
		}
	.js-css-menu > li {
	  display: inline-block; float: left;
		}
	.js-css-menu > li > a {
	  color: #555; display: block;
		}
	.js-css-menu > li:hover > a {
	  background-color: #eee;
		}
	.js-css-menu > li > a:active {
	  background-color: #ddd;
		}
	.js-css-menu > li.current > a {
	  background-color: #ccc;
		}
	.js-css-menu > li div {
	  position: absolute; display: none;
		}
	.js-css-menu > li div ul {
	  float: left;
		}
	.js-css-menu > li div ul li {
		padding: 5px;
		}
	.js-css-menu.vertical > li div ul.col1 {
		column-count: 3;
		-webkit-column-count: 3;
		-moz-column-count: 3;
		width: auto;
		padding-bottom: 5px;
		}
	.js-css-menu > li:hover div {
		display: block;
		box-shadow: 10px 10px 10px #000;
		margin: 7px;
		margin-top: -26px;
		padding: 5px;
		}
	.js-css-menu.vertical > li div.netspec {
		background: #303030;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border: #ccc solid 2px;
		line-height: 20px;
		padding-left: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 15px;
		width: auto; top: 0; z-index: 10;
		left: 175px;
		}
	.js-css-menu.vertical > li div {
		background: #303030;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border: #ccc solid 2px;
		line-height: 20px;
		padding-left: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 15px;
		width: 200px; top: 0; z-index: 10;
		left: 175px;
		}
	.js-css-menu.vertical > li div:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 15px 15px 15px 0;
		border-color: transparent #303030;
		display: block;
		width: 0;
		z-index: 1;
		left: -15px;
		top: 21px;
		}
	.js-css-menu.vertical > li div:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 16px 16px 16px 0;
		border-color: transparent #ccc;
		display: block;
		width: 0;
		z-index: 0;
		left: -18px;
		top: 20px;
		}
	.js-css-menu.vertical {
	  width: auto; /* Adjust the width of the vertical menu */
		}
	.js-css-menu.vertical > li {
	  display: block; float: none; position: relative;
		}
	@media (max-width: 480px) { /* To adjust the "breaking point" of the responsive menu, change 480px to a value of your choosing. */
	  .js-css-menu.responsive, .js-css-menu.responsive > li {
		width: auto!important;
		display: block;
		float: none;
	  	}
	  .js-css-menu.responsive > li div {
		display: none!important;
		 }
		}
  /* -- END VERT NAV DROP MENU -- */
/* -- END NAVIGATION -- */

/* -- START HEADER -- */
	#header {
		color:black;
		text-align:left;
		padding:5px;
		position: fixed;
		width: 100%;
		margin: 0 auto;
		border-bottom: 3px solid #c92027;
		background: #303030 url(../images/footer-bg.jpg) top center no-repeat;
		z-index: 9;
		top: 0px;
		}
	#header h1 {
		color: #fdb915;
		text-shadow: 0px 2px 5px #000;
		margin-top: 50px;
		}
	#headerlogo img {
		display: inline;
		margin-left: 15px;
		vertical-align: middle;
		border: none;
		}
/* -- END HEADER -- */

/* -- MAIN PAGE: SPACE/SECTION/SECTION2/RIGHT DIV -- */
  /* -- START SPACE DIV -- */
	#space h2,
	#space h3 {
		color:#fdb915;
		text-shadow: 0px 2px 5px #303030;
		}
	#space h1 {
		border-radius: 0.5em 0.5em 0.5em 0.5em;
		box-shadow: 2px 3px 5px #000;
		display: inline-block;
		padding: 20px;
		padding-left: 30px;
		padding-right: 30px;
		background-color: #c3b17a;
		color: #303030;
		}
	#space hr {
		border: 0;
		height: 2px;
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #fdb815, rgba(0,0,0,0));
		background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), #fdb815, rgba(0,0,0,0));
		background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), #fdb815, rgba(0,0,0,0));
		background-image:      -o-linear-gradient(left, rgba(0,0,0,0), #fdb815, rgba(0,0,0,0));
		}
	#space a:link,
	#space a:visited,
	#space a:active {
		transition: color .2s ease-in;
		transition-property: color;
		transition-duration: 0.2s;
		transition-timing-function: ease-in;
		transition-delay: initial;
		text-decoration: none;
		color: #333333; 
		}
	#space a:hover {
		color: #ceae00; 
		}
	#space h2 a:link,
	#space h2 a:visited,
	#space h2 a:active {
			transition: color .2s ease-in;
			transition-property: color;
			transition-duration: 0.2s;
			transition-timing-function: ease-in;
			transition-delay: initial;
			text-decoration: none;
			color: #fdb915;
			}
	#space h2 a:hover {
			color: #333333;
			}

  /* -- START HEALTH SCORE TABLE FORMATTING -- */
	#space .TBscore tr:nth-child(odd) {
		 background-color: #cdc8b1;
		}
	#space .TBscore th a:link,
	#space .TBscore th a:visited,
	#space .TBscore th a:active {
		color: #ccc;
		}
	#space .TBscore th a:hover{
		color: #ceae00;
		}
	.names {
		 padding-bottom:3px;
		 padding-top:3px;
		 padding-left:10px;
		 padding-right:10px;
		 text-align:left;
		}
	#space .TBscore th.names {
		}
	.stats th, td {
		width: 70px;
		padding-left:10px;
		padding-right:10px;
		padding-top:3px;
		text-align:right; 
		}
  /* -- END HEALTH SCORE TABLE -- */
  /* -- START SECTION DIV -- */
	#section {
		width:30%;
		float:left;
		padding:15px;
		position: relative;
		margin-left: 250px;
		margin-top: 150px;
		margin-bottom: 50px;
		margin-right: auto;
		}
  /* -- END SECTION DIV -- */

  /* -- START SECTION2 DIV -- */
	#section-two {
		width:80%;
		min-width: 700px;
		padding:15px;
		position: relative;
		margin-top: 150px;
		margin-bottom: 50px;
		margin-left: 250px;
		margin-right: auto;
		}
  /* -- END SECTION2 DIV -- */

  /* -- START RIGHT DIV - MAIN PAGE -- */
	#right {
		width:40%;
		float: left;
		padding:15px;
		padding-right:30px;
		align:right;
		margin-top: 150px;
		margin-bottom: 50px;
		}
  /* -- END RIGHT DIV -- */

/* -- END SPACE DIV -- */



/* -- START TABLE FORMATTING -- */
	table {
		border: 1px solid #747474;
		box-shadow: 2px 3px 5px #000;
		}
	table, th {
		 border: none;
		 border-collapse: collapse;
		 background-color: #303030;     
		}

	tr {
		 background-color: #eee8cd;
		 border-bottom: 1px solid #aaaaaa;
		}
	th {
		border-right-color: #fdb915;
		border-bottom: 1px solid #fdb915;
		color: #ccc;
		}
/* -- END TABLE FORMATTING -- */


/* -- START TABLE NO FORMATTING -- */
	.noformat table {
		 background-color: #c1cdcd;
		}
/* -- END TABLE NO FORMATTING -- */

/* -- START SCORE EXPLANATIONS -- */
	.score_explain table {
		 align: center;
		}
	.score_explain td {
		 background-color: #e0eeee;
		 padding-left: 10px;
		 padding-top: 10px;
		 padding-bottom: 10px;
		 padding-right: 10px;
		 align: left;
		 width: 800px;
		 border-radius: 5px;
		}
	.score_explain tr {
		 border: none;
		}
/* -- END SCORE EXPLANATION -- */

/* -- UNKNOWN -- */
	#intexpl {
		 width:35%;
		}
	#intTable {
		 width: 50%;
		 float:left;
		 padding:20px
		}
/* -- END UNKNOWN -- */

/* -- START FOOTER -- */
	#footer {
		color:#fdb915;
		clear:both;
		text-align:center;
		padding:5px;	 	 
		border-top: 3px solid #c92027;
		background: #303030 url(../images/footer-bg.jpg) top center no-repeat;
		border-top: 3px solid #C92027;
		bottom: 0px;
		top:350px;
		position: relative;
		/*width: 100%;	*/
		}
	#footer a:link,
	#footer a:active,
	#footer a:visited {
		 transition: color .2s ease-in;
		 transition-property: color;
		 transition-duration: 0.2s; 
		 transition-timing-function: ease-in;
		 transition-delay: initial;
		 text-decoration:none;
		 color: #FDB815;
		}
	#footer a:hover {
		color: #fff;
		}
/* -- END FOOTER -- */
