.main-nav {background-color: #FFCA28;}
.main-nav .navbar-left {background-color: #FFB300;}
.main-nav .navbar-left .logo {background: url('../../assets/images/logo-sunglow.png') no-repeat 0 0;}
.main-nav .bubble{background-color: #FFCA28;}
.main-nav .top-search-bar{background-color: #FFCA28;}
.conversation-row.odd .conversation-list > li{background-color: #FFB300 !important;}
.conversation-row.odd .conversation-list > li:after{border-right-color: #FFB300 !important;}
@media screen and (max-width: 768px) {
	.main-nav{background-color: #FFB300!important;}	
}
.user-profile-container {background: linear-gradient(rgba(255,179,0, 0.4), rgba(255,179,0, 0.4)), url(../../assets/images/material-menu.jpg) no-repeat bottom right !important;}